@{
    ViewData["Title"] = "Home Page";
}

@section Style
{
    <style>
    
    </style>
}

<div id="app" class="row">
    <h2>Applications</h2>
    <p></p>
</div>

@section Scripts
{
    <script>
       const app = new Vue({
         el: '#app',
         data: {
           message: 'Hello Vue!'
         }
       }); 
    </script>
}
