<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - appcrawl</title>
    <link rel="stylesheet" href="~/css/mini-default.min.css" />
    @await RenderSectionAsync("Style", false)
</head>
<body>
    <main role="main" class="container">
        @RenderBody()
    </main>

    <script src="https://cdn.jsdelivr.net/npm/vue@2"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
