<!DOCTYPE html>
<html>
<head><title>Cat Shop - Males</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <style>.selected {
        font-weight: bold;
    }</style>
</head>
<body>
<nav class="navbar navbar-expand-md navbar-dark bg-dark"><a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault"
            aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation"><span
            class="navbar-toggler-icon"></span></button>
    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active"><a class="nav-link" href="/">Home</a></li>
            <li class="nav-item"><a class="nav-link" href="/inter">Inter Page Abstraction</a></li>
            <li class="nav-item"><a class="nav-link" href="/extraction">Extract</a></li>
            <li class="nav-item dropdown"><a class="nav-link dropdown-toggle" id="dropdown01" href="http://example.com"
                                             data-toggle="dropdown" aria-haspopup="true"
                                             aria-expanded="false">Dropdown</a>
                <div class="dropdown-menu" aria-labelledby="dropdown01"><a class="dropdown-item" href="#">Action</a><a
                        class="dropdown-item" href="#">Another action</a><a class="dropdown-item" href="#">Something
                    else here</a></div>
            </li>
        </ul>
        <form class="form-inline my-2 my-lg-0"><input class="form-control mr-sm-2" type="text" placeholder="Search"
                                                      aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
    </div>
</nav>
<div class="container-fluid">
    <div class="container"><h1>Male cats</h1>
        <p>(<a class="selected" href="/male">Male</a>/<a href="/female">Female</a>)</p>
        <div class="card-deck">
            <div class="card" style="width: 18rem;"><img class="card-img-top" src="http://placekitten.com/266/174">
                <div class="card-body"><h5 class="card-title"><a href="/cat/0">Felix</a></h5>
                    <p class="card-text">A really nice cat that loves playing outdoor</p>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">Playful</li>
                        <li class="list-group-item">Intelligent</li>
                        <li class="list-group-item">Pragmatic</li>
                    </ul>
                </div>
            </div>
            <div class="card" style="width: 18rem;"><img class="card-img-top" src="http://placekitten.com/271/188">
                <div class="card-body"><h5 class="card-title"><a href="/cat/1">Napoleon</a></h5>
                    <p class="card-text">A stupid cat that defies gravity</p>
                    <ul class="list-group list-group-flush"></ul>
                </div>
            </div>
            <div class="card" style="width: 18rem;"><img class="card-img-top" src="http://placekitten.com/284/192">
                <div class="card-body"><h5 class="card-title"><a href="/cat/2">George</a></h5>
                    <p class="card-text">Wow I love this cat, I can't get enough of him</p>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">Wise</li>
                        <li class="list-group-item">Stupid</li>
                    </ul>
                </div>
            </div>
            <div class="card" style="width: 18rem;"><img class="card-img-top" src="http://placekitten.com/257/183">
                <div class="card-body"><h5 class="card-title"><a href="/cat/3">Joris</a></h5>
                    <p class="card-text">I do not advice buying this one</p>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">Intelligent</li>
                        <li class="list-group-item">Courageous</li>
                    </ul>
                </div>
            </div>
        </div>
        <div id="cy" style="width: 100%; height: 600px; position: absolute; bottom: 0px"></div>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/dagre/0.8.5/dagre.min.js" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/cytoscape/3.17.1/cytoscape.min.js" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/cytoscape-dagre@2.3.2/cytoscape-dagre.js" crossorigin="anonymous"></script>
<script src="js/appstract.js"></script>
<script>window.addEventListener("load", async () => {
    window.setTimeout(appstract.computeAbstract, 3000)
    appstract.displayAbstractTree()
})</script>
</body>
</html>